* {
  font-family: 'Roboto', sans-serif;
}

.test-blocks {
  display: flex;
  gap: 5px;

  & > div {
    width: 100px;
    height: 100px;
    border: 1px solid;
  }
  &__left {
    background-color: var(--test);
  }
  &__right {
    background-color: var(--testtesttest);
  }
}
